h1{
    padding: 18px;
    text-align: center;
}
h2{
    background-color: rgb(203, 130, 237);
    color: rgb(0, 0, 0);
    padding: 14px;
    text-align: center;
}
    img{
        width: 500;
       margin: 0cm;
    
            width: 500px;
            margin: 0cqb;
             height: 650px; 

                width: 500px;
                margin: 0cm;
                border: 4px solid rgb(148, 48, 175);
    }